*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(logos/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg);
    background-size: cover;
    background-position: center;
    
}

.container{
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    border-radius: 7px;
    background-color: rgba(0,0,0,.5);
    box-shadow: inset 0 0 5px #000;
    border: 1px solid #2257bf;
    color: #fff;
  }
  
.search-form button {
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    color: #2257bf;
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 5px;
  }

.search-form button:hover {
    background: rgba(0,0,0,.5);
    color: #fff;
    cursor: pointer;
  }

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2257bf;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;   
}

#main-text{
    margin-top: 12%;
    font-size: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

#main-text h1{
    font-size: 100px;
    margin-bottom: 20px;
}

#main-text p{
    font-size: 30px;
    margin-bottom: 10px;
}

#main-text button a{
    text-decoration: none;
    color: #2257bf;
}

#main-text button{
    padding: 15px 20px;
    background-color: #fff;
    border: none;
    color: #2257bf;
    border-radius: 7px;
    margin-left: 7px;
    margin-right: 5px;
}

#main-text button:hover{
    background: rgba(0,0,0,.5);
    color: #fff;
    cursor: pointer;
}

.earth{
    position: absolute;
    padding-top: 5%;
    text-align: center;
    width: 100%;
}


.why{
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block;
    padding-top: 22%;
}

.why h1{
    font-size: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.why ul{
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 5%;
}

.why ul li{
    list-style: none;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 10px;
    background: #1e1f22;
    color: #fff;
}

.why-card{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.why-card p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

@media only screen and (min-width: 768px) {
    .why::before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: gray;
        z-index: -1;
    }

    
    .why ul li{
        width: 30%;
        margin-bottom: 50px;
        position: relative;
    }
    .why ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-5px);
    }
    .why ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(5px);
    }
}